@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background:linear-gradient(to right, #2980b9, #2c3e50);
    font-family: Poppins;
    font-weight: 500;
    height: 100vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    height: 780px;
    width: 450px;
}

.content p {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.italic {
    font-style: italic;
}

.log {
    color: #02dd65;
}

fieldset {
    height: 500px;
    margin: 10px;
    padding: 1em 2em;
    border: none;
}

.center {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.center button {
    background-color: #E5E7EB;
    border: none;
    border-radius: 5px;
    color: #222;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: 600;
    outline: none;
}

.pop-up {
    position: absolute;
    top: -140%;
    left: 50%;
    transform: translate(-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #E5E7EB;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    opacity: 0;
    transition:top 0ms ease-in-out 200ms,
               opacity 0ms ease-in-out 0ms,
               transform 0ms ease-in-out 0ms;
}

.pop-up.active {
    top: 50%;
    opacity: 1;
    transform: translate(-50%) scale(1);
    transition:top 0ms ease-in-out 0ms,
               opacity 200ms ease-in-out 0ms,
               transform 20ms ease-in-out 0ms;
}

.pop-up .close-btn {
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background-color: #888;
    text-align: center;
    line-height: 16px;
    border-radius: 15px;
    cursor: pointer;
}

.pop-up form .form-element {
    margin: 15px 0;
}


.pop-up form .form-element  label{
    font-size: 14px;
    color: #222;
    position: absolute;
    left: 50px;
    pointer-events: none;
    transform: translateY(10px);
    transition: 150ms ease;
}

.pop-up form .form-element input{
    border: solid 1.5px #222;
    border-radius: 1rem;
    padding: 10px;
    line-height: 1.5;
    width: 100%;
}

.pop-up form .form-element input:focus, input:valid {
    outline: none;
    border: solid 1.5px #023cdd;
}

.pop-up form .form-element input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    background-color:#E5E7EB;
    color: #023cdd;
 }

 .pop-up form button {
    background-color: #023cdd;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    outline: none;
    width: 100%;
 }

 footer {
    background-color: #222;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    /* margin-top: 20px; */
 }